* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-y: scroll;
  font-size: 16px;
  letter-spacing: .2px;
  background-color: #fafafa;
  user-select: none;
}

/** ScrollBar **/
*::-webkit-scrollbar {
  width: 18px;
}

*::-webkit-scrollbar-track {
  background: #eee;
}

*::-webkit-scrollbar-thumb {
  background: #bbb;
  border-radius: 2px;
  border: 5px solid #eee;
  border-radius: 12px;
}

*::-webkit-scrollbar-thumb:vertical:hover {
  background: #3c7bc9;
}

/** FireFox Scrollbar **/
.flex-container {
  scrollbar-color: #3c7bc9 transparent;
  scrollbar-width: thin;
}

/* Color theme, https://www.w3schools.com/w3css/w3css_color_generator.asp */
.w3-theme-l5 {color:#000 !important; background-color:#f6f9fd !important}
.w3-theme-l4 {color:#000 !important; background-color:#e2ecf7 !important}
.w3-theme-l3 {color:#000 !important; background-color:#c5d8ef !important}
.w3-theme-l2 {color:#000 !important; background-color:#a9c5e7 !important}
.w3-theme-l1 {color:#000 !important; background-color:#8cb1df !important}
.w3-theme-d1 {color:#fff !important; background-color:#558dd1 !important}
.w3-theme-d2 {color:#fff !important; background-color:#3c7bc9 !important}
.w3-theme-d3 {color:#fff !important; background-color:#316cb3 !important}
.w3-theme-d4 {color:#fff !important; background-color:#2a5c9a !important}
.w3-theme-d5 {color:#fff !important; background-color:#234d80 !important}

.w3-theme-light {color:#000 !important; background-color:#f6f9fd !important}
.w3-theme-dark {color:#fff !important; background-color:#234d80 !important}
.w3-theme-action {color:#fff !important; background-color:#234d80 !important}

.w3-theme {color:#fff !important; background-color:#6f9fd8 !important}
.w3-text-theme {color:#6f9fd8 !important}
.w3-border-theme {border-color:#6f9fd8 !important}

.w3-hover-theme:hover {color:#fff !important; background-color:#234d80 !important}
.w3-hover-text-theme:hover {color:#6f9fd8 !important}
.w3-hover-border-theme:hover {border-color:#6f9fd8 !important}